.nav__link {
  display: block;
  color: #bbb;
  line-height: 1.4;
  text-decoration: none;
  transition: .3s ease;
  padding: .5em 1em;
}

.nav__link:hover {
  color: #fff;
  background-color: rgba(00, 00, 00, .9);
  border-radius: 2px;
}

.nav__link:focus {
  outline: 1px solid yellow;
  color: #fff;
}