.nav__list {
  position: relative;
  border-radius: 2px;
  max-height: 62vh;
  width: 180px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: .5em .5em .5em;
  box-sizing: border-box;
  list-style: none;
  background-color: rgba(00, 00, 00, .3);
  transition: .3s ease-out;
  transform-origin: left;
  transform: scaleX(0);
}
