.main-nav__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fit, 50px);
  column-gap: 40px;
  max-width: 75vw;
  min-width: 20vw;
  height: 75vh;
  outline: 1px solid saddlebrown;
}