@import url(./__list/nav__list.css);
@import url(./__list/nav_list_active.css);
@import url(./__item/nav__item.css);
@import url(./__link/nav__link.css);

.nav {
  color: #bbb;
  font-size: 14px;
  display: flex;
}