.main-nav__link {
  color: #bbb;
  font-size: 1.2rem;
  line-height: 1.2;
  text-decoration: none;
  padding: .5em;
  transition: .3s ease-in-out;
}

.main-nav__link:hover {
  color: #fff;
}

.main-nav__link:focus {
  outline: 1px solid yellow;
  border: none;
  color: #fff;
}