.clock__hand_style_min {
  width: 30%;
  height: 10px;
  top: 48%;
  left: 100px;
  z-index: 9;
  background-color: #000000;
  box-shadow: 0 7px 20px rgba(0,0,0,0.4), 
              0 7px 8px rgba(0,0,0,0.4), 
              inset 2px 2px 5px #222222;
}