@import url(./button_not-active.css);
@import url(./_type/button_type_menu.css);
@import url(./_type/button_type_.prev.css);
@import url(./_type/button_type_next.css);

.button {
  width: 66px;
  height: 66px;
  background-color: rgba(00, 00, 00, .3);
  color: #bbb;
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  line-height: 1;
  padding: .5em;
  border: 1px solid #333;
  border-radius: 2px;
  text-align: center;
  transition: .3s ease;
}

.button:hover {
  border-color: yellow;
  color: #fff;
}

.button:focus {
  border-color: yellow;
  outline: none;
  color: #fff;
}