@import url(./_type/button_type_nav.css);
@import url(./_type/button_type_.prev.css);
@import url(./_type/button_type_next.css);
@import url(./_style/button_style_control.css);
@import url(./_style/button_style_nav.css);
@import url(./button_active.css);

.button {
  padding: .5em;
  border: 1px solid #333;
  border-radius: 2px;
  text-align: center;
  transition: .3s ease-out;
}

.button:hover {
  border-color: yellow;
  color: #fff;
}

.button:focus {
  border-color: yellow;
  outline: none;
  color: #fff;
}